<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ea">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/apricot"
        android:label="@string/app_name"
        android:roundIcon="@drawable/apricot"
        android:supportsRtl="true"
        android:theme="@style/Theme.EA">
        <activity
            android:name=".edit.EditActivity"
            android:label="EDIT" />
        <activity
            android:name=".ScannedBarcodeActivity"
            android:label="Scan" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
    </application>

</manifest>